.btnCart {
    width: 200px;
    margin-top: 5px;
    height: 30px;
    background-color: rgba(255, 176, 130, 0.959);
    border: none;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.btnCart:hover {
    background-color: rgba(230, 136, 82, 0.959);
    transition-duration: 0.3s;
}

#gotoMarketPlace {
    position: fixed;
    background-size: cover;
    background-image: url("../img/marketplace.png");
    height: 150px;
    width: 170px;
    top: 40%;
    padding-top: 20px;
    text-align: center;
    left: 85%;
    border-radius: 8px;
    transition-duration: 0.2s;
}

#gotoMarketPlace:hover {
    padding: 5px;
    box-shadow: 5px 10px 18px lightgrey;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 173px;
}

h1 {
    text-align: center;
}

#buyBtn {
    width: 300px;
    height: 30px;
}

#totDiv {
    margin-left: 250px;
    margin-right: auto;
    margin-bottom: 10px;
}