        body {
            background-image: url("../img/background.jpg");
            background-attachment: fixed;
        }
        
        #ListBar {
            width: 50%;
            height: auto;
            min-height: 200px;
            background-color: white;
            border-radius: 14px;
            -webkit-border-radius: 14px;
            -moz-border-radius: 14px;
            -ms-border-radius: 14px;
            -o-border-radius: 14px;
            margin-left: auto;
            margin-right: auto;
            opacity: 0.95;
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
        }
        
        hr {
            border: solid 2px rgb(93, 45, 0);
            width: 70%;
        }
        
        h1 {
            text-align: center;
        }
        
        #title {
            text-align: center;
            font-size: 38px;
        }
        
        .product {
            width: 70%;
            min-height: 240px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            transition-duration: 0.2s;
            border-radius: 5px;
        }
        
        .product:hover {
            padding: 3px;
            box-shadow: 5px 10px 18px lightgrey;
            transition-duration: 0.2s;
            cursor: pointer;
        }
        
        #productLeft {
            float: left;
            width: 250px;
        }
        
        #productRight {
            float: right;
            width: 350px;
        }
        
        .imgProduct {
            height: 200px;
            width: 250px;
            border-radius: 5px;
        }
        
        .infoProduct {
            text-align: left;
            font-size: 20px;
        }
        
        .selectQuantity {
            height: 30px;
            width: 45px;
            background-color: rgba(255, 176, 130, 0.959);
            border: none;
            border-radius: 5px;
            transition-duration: 0.3s;
        }
        
        .selectQuantity:hover {
            background-color: rgba(230, 136, 82, 0.959);
            transition-duration: 0.3s;
        }
        
        #DetailsBox {
            position: fixed;
            height: auto;
            width: 20%;
            min-height: 45px;
            top: 40%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            background-color: white;
            text-align: center;
            left: 30px;
            border-radius: 8px;
        }